<div class="container pt-5">
  <div class="row pt-5">
    <div class="col pt-5">
      <div class="d-flex justify-content-center">
        <h1>「農効」へようこそ！</h1>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col">
      <h2 class="d-flex justify-content-center">本アプリは農業を効率化するため、農薬使用記録の管理を行うことができます。</h2>
      <h2 class="d-flex justify-content-center">本アプリを通して、皆様の農業活動の一助を担えれば幸いです。</h2>
      <h2 class="d-flex justify-content-center">ゲストログインしていただけるとどんな機能があるのかを実際に見ることができます。</h2>
      <h2 class="d-flex justify-content-center">新規登録及びログインはヘッダーからアクセスしてくださいませ。</h2>
    </div>
  </div>
  <div class="row pt-5">
     <div class="col">
       <div class="d-flex justify-content-center"><%= link_to "→ゲストログイン", farmer_session_path, method: :post, params: { farmer: { email: "noukou@gmail.com", password: "156464" } }, class:"btn btn-primary" %>
     </div>
  </div>

</div>